body {
	background-color: turquoise;
}

button {
	background-color: white;
}

button:active {
	background-color: gold;
	transition: background-color 0.1s;
}

button:hover {
	color: red;
}

div:hover {
	background-color: turquoise;
	font-size: 20px;
	transition:background-color 0.5s, font-size 0.5s;
}

